@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
@if (User.Identity.IsAuthenticated)
{
    <table class="table table-striped">
        <tr>
            <th>Claim Type</th>
            <th>Value</th>
        </tr>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </table>
}
</div>